.info-container {
    width: 100%;
    height: 300px;
    background-color: white;
    color: black;
    margin-bottom: 100vh;
  }
  
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }
    
  .cntimg{
    width: 45%;
    display: flex;
    align-self: auto;
    overflow: hidden;
  }
  
  .img{
    width: 120px
  }
  
  .fimg{
    height: 120px
  }
  .container-image{
    display: flex;
    width: 100%;
    max-width: 700px;
    margin: auto;
  }
  @media only screen and (max-width: 960px) {
    .info-container {
      height: 200px;
      width: 100%;
    }
  
    .info > h1 {
      text-align: center;
      font-size: 25px;
    }
  }
